@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Rock+Salt&display=swap');

header, .grid, footer {
    max-width: 840px;
    margin: 0 auto;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color:white;
    --secondary-color: #F18F01;
    --accent1-color: #2E4057;
    --accent2-color: #99C24D;

    --heading-font: 'Roboto', serif;
    --paragraph-font: 'Rock+Salt', serif;

    --nav-background-color: #2E4057;
    --nav-link-color: #2E4057;
    --nav-hover-link-color: #99C24D;
    --nav-hover-background-color: #99C24D;
}

body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
    color: black;
}


header { 
    padding: 20px;
    margin: 1rem auto;
    background-color: steelblue;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
 nav {
    color: white;
    display: block;
    padding: 0.5rem;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
 }

.hero h1 {
    position: absolute;
    top: 500px;
    left: 20px;
    background: radial-gradient(#eee, #4567aa);
	border: 1px solid #000;
	padding: 0.65rem;
	box-shadow: 0 0 30px #111;
	opacity: 0.9;
    width: 48.3%;
}

section h2 {
    background-color: steelblue;
    padding: 10px;
    display: grid;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 1rem;
    line-height: 1rem;
}
section p{
    line-height: 1rem;
}
article h6 {
    margin-bottom: auto;
}

article p {
    position: absolute;
    top: 900px;
    left: 20px;
    background: radial-gradient(#eee, #4567aa);
	border: 1px solid #000;
	padding: 0.65rem;
	box-shadow: 0 0 30px #111;
	opacity: 0.9;
    width: 48.3%;
}

.hero img {
    display:block;
    width: 100%;
    height: auto;
    position: relative;
    margin-bottom: 1rem;
    margin: 20px auto;
}
 article img {
    position: absolute;
    top: -690px;
    padding: 250px;
    right: -100px;
    margin: 1px;
    
 }

 section figure {
    background-color: steelblue;
    padding: 10px;
    display: grid;
    justify-content: center;
    align-items: center;
 }

 section {
    position: relative;
    padding-bottom: 1rem;
	
 }
 /*section {
    position: relative;
	bottom: 700px;
	left: 15px;
	background: radial-gradient(#eee, #4567aa);
	border: 1px solid #000;
	padding: 1rem;
	box-shadow: 0 0 30px #111;
	opacity: 0.9;
    margin: 1rem auto;
    justify-content: space-evenly;
    align-items: center;
    max-width: 840px;
    margin: 1px auto;
 }*/

footer p{
    
    text-indent: 0px;
}
footer nav{
    text-decoration: none;
    display: flex;
    justify-content: right;
}